In [5]:
import pandas as pd

### 方法一

In [24]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [25]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 方法二

In [4]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

In [5]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [26]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [89]:
import numpy as np
import random
data2 = {'country':['日本','台灣','韓國','美國','加拿大','墨西哥','印度','義大利','瑞典','瑞士'],
        'human_number':[random.randint(1000000,100000000) for i in range(10)]
       }

SyntaxError: invalid syntax (<ipython-input-89-021c85e4b30e>, line 4)

In [87]:
visitors_3 = pd.DataFrame(data2,columns=['country','human_number'])
print(visitors_3)

  country  human_number
0      日本      88134118
1      台灣       9769408
2      韓國      90860512
3      美國      96959417
4     加拿大      96133013
5     墨西哥      78217255
6      印度      69563564
7     義大利      67550486
8      瑞典       2130409
9      瑞士      47769825

In [88]:
visitors_3.loc[visitors_3['human_number'].idxmax()]

country               美國
human_number    96959417
Name: 3, dtype: object